.header{
    padding: 23px 0 29px 0;
    display: flex;
    &-logo{
        float: left;
        margin: 0 30px 0 10px;
    }
    &-minimenu{
        float: left;
        &-droplist{
            @include listnone();
        }
        &-catalog{
            display: flex;
            width: 220px;
            height: 50px;
            margin: 18px 0 0 0;
            padding: 13px 56px;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            background-color: #1c69d4;
            & span{
                margin: 6px 0 0 16px;
            }
        }
    }
    &-navwrapper{
        display: flex;
        flex-direction: column;
        margin: 0;
        &-upper{
            display: flex;
        }
    }
    &-nav{
        display: flex;
        &-phone{
            margin: 0 36px 0 0;
        }
        &-list{
            display: flex;
            @include listnone;
            justify-content: space-between;
            &-li{
                display: block;
            }
        }
        &-search{
            height: 50px;
        }
    }
    &-login{
        display: flex;
        margin: 0;
        &-signin{
            display: flex;
            margin: 0 24px 0 0;
            &-btn{
                display: flex;
                margin: 0;
                padding: 0;
                border: none;
            }
            &-txt{
                padding: 6px 0 0 0;
            }
        }
        &-basket{
            display: flex;
            &-btn{
                display: flex;
                margin: 0;
                padding: 0;
                border: none;
            }
            &-txt{
                padding: 6px 0 0 0;
            }
        }
    }
}